@font-face {
    font-family: 'JetBrainsMono';
    src: url("./JetBrainsMono-Regular.ttf") format("ttf");
}
@font-face {
    font-family: 'Iceland';
    src: url("./Iceland-Regular.ttf") format("ttf");
}

