.formTitle {
    composes: formTitle from './form.module.css'
}
.formWrap {
    composes: formWrap from './form.module.css'
}
.formFooter{
    composes: formFooter from './form.module.css'
}
.formFooterLinkWrap {
    composes: formFooterLinkWrap from './form.module.css'
}
.formFooterLink {
    composes: formFooterLink from './form.module.css' 
}