.totalWrap {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 40px;
}

.priceWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.priceWrap>span {
    font-family: 'Iceland', Arial, sans-serif;
    font-weight: 400;
    font-size: 48px;
    line-height: 36px;
    color: #F2F2F3;
}

.makeOrderLoadingInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 18px;
    line-height: 1.5;
}

.makeOrderLoadingError {
    composes: makeOrderLoadingInfo;
    color: #ad507b;
}