.compositionWrap {
    position: relative;
    height: 64px;
}

.compositionItem {
    position: absolute;
    background: linear-gradient(63.18deg, #801AB3 0%, #4C4CFF 100%),
    linear-gradient(0deg, #131316, #131316);
    border-radius: 100px;
    display: flex;
    height: 64px;
    width: 64px;
    align-items: center;
    justify-content: center;
}

.compositionItemInner {
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    border-radius: 100%;
    background: #131316;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.compositionItemImg {
    width: 112px;
    height: 56px;
}

.compositionItemCounter{
    position: absolute;
    background: black;
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1C1C21;
    opacity: 0.6;
}

.compositionItem:nth-child(1) {
    left: 0;
    top: 0;
    z-index: 10;
}

.compositionItem:nth-child(2) {
    left: 48px;
    top: 0;
    z-index: 9;
}

.compositionItem:nth-child(3) {
    left: 96px;
    top: 0;
    z-index: 8;
}

.compositionItem:nth-child(4) {
    left: 138px;
    top: 0;
    z-index: 7;
}

.compositionItem:nth-child(5) {
    left: 186px;
    top: 0;
    z-index: 6;
}

.compositionItem:nth-child(6) {
    left: 234px;
    top: 0;
    z-index: 5;
}