.orderListItem {
    background: #1C1C21;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 40px;
    margin-bottom: 16px;
}

.orderListItemLink {
    padding: 24px;
    text-decoration: none;
    display: block;
}

.orderHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}

.orderId {
    font-weight: 400;
    font-size: 28px;
    line-height: 24px;
    color: #F2F2F3;
    font-family: 'Iceland', Arial, sans-serif;
}

.orderDateTime {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #8585AD;
}

.orderName {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #F2F2F3;
}

.orderFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
}

.orderPriceWrap {
    display: flex;
    align-items: center;
    gap: 8px;
}

.orderPrice {
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 24px;
    color: #F2F2F3;
    font-family: 'Iceland', Arial, sans-serif;
}

.orderStatus {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #F2F2F3;
    margin-top: 8px;
}

.doneStatus {
    color: #00CCCC;
}